body {
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
	background-color: #cecaca;
}

.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #444;
    position: relative;
}

.menu-main, .submenu, .drop-down ol, .slider-container {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.menu-main {
    text-align: center;
    position: relative;
    width: 900px;
}

.menu-main:after, .submenu:after {
    content: "";
    display: block;
    clear: both;
}