body {
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
	background-color: #cecaca;
}

nav {
    background-color: #444;
    position: relative;
}

.menu-main, .submenu, .drop-down ol, .slider-container {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.menu-main {
    text-align: center;
    position: relative;
    width: 900px;
}

.menu-main:after, .submenu:after {
    content: "";
    display: block;
    clear: both;
}

.menu-main > li {
    float: left;
    width: 22.222%;
}

.menu-main a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.menu-main > li > a {
    color: grey;
    padding: 15px;
    position: relative;
    z-index: 2;
    background: #444;
}

.menu-main > li:hover > a {
    color: #FFF;
}