body {
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
	background-color: #cecaca;
}

.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #444;
    position: relative;
}

.menu-main, .submenu, .drop-down ol, .slider-container {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.menu-main {
    text-align: center;
    position: relative;
    width: 900px;
}

.menu-main:after, .submenu:after {
    content: "";
    display: block;
    clear: both;
}

.menu-main > li {
    float: left;
    width: 22.222%;
}

.menu-main a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.menu-main > li > a {
    color: grey;
    padding: 15px;
    position: relative;
    z-index: 2;
    background: #444;
}

.menu-main > li:hover > a {
    color: #FFF;
}

/* end of nav bar */

/* create dropdown divider */
.drop-down:before {
    content: "";
    border-left: 1px solid #444;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    border-radius: 0 3px 3px 0;
}
/* change dropdown gradient background on mouse over */
.drop-down:hover:before {
    background: linear-gradient(0deg, #fff 0%, #ddd 100%);
}
/* dropdown label */
.drop-down .toggle-drop-down {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    display: block;
    padding: 0 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
/* drop down tip */
.drop-down .caret {
    position: absolute;
    top: 12px;
    right: 8px;
    border-width: 8px;
    border-style: solid;
    border-color: #444 transparent transparent;
    cursor: pointer;
    z-index: 2;
}
/* drop down content */
.drop-down ol {
    margin-top: 11px;
    background-color: #444;
    position: absolute;
    right: 0;
    min-width: 200px;
    transform: rotateX(80deg);
    transition: transform 0.4s, opacity 0.4s;
    transform-origin: top;
    opacity: 0;
}
/* show animated drop down content when label clicked */
.drop-down :checked + ol{
    transform: rotateX(0deg);
    opacity: 1;
}

.drop-down ol a{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    border-top: 1px solid #777;
}

* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#StormCon{
	width:1000px;
	margin:0 auto;
}

#stormzy{
	border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30% round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30% round; /* Opera 11-12.1 */
    border-image: url(border.png) 30% round;
}

#Kudi{
	border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30% round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30% round; /* Opera 11-12.1 */
    border-image: url(border.png) 30% round;
	
}

#BeyCon{
	width:1000px;
	margin:0 auto;
}

#BeyCar{
	float:left;
	margin-left: 470px;
	margin-top: 412px;
	
}

#WekCon{
	width:1000px;
	margin:0 auto;
}

#WekAl{
	position: relative;
	left: 215px;
	border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30% round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30% round; /* Opera 11-12.1 */
    border-image: url(border.png) 30% round;
}

#thumbs{
	text-align: center
}

/* DOM (Document Object Model) API
when using DOM languages you are interacting with html without actually changing the code.*/



/* https://www.youtube.com/watch?v=aPtA4nYkvDw */